appdirs==1.4.4
backcall==0.2.0
dataclasses==0.8
decorator==5.0.7
imageio==2.9.0
importlib-metadata==4.0.0
ipykernel==5.5.3
ipympl==0.7.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itkwidgets==0.32.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
meshio==4.3.12
matplotlib==3.3.1
nibabel==3.2.1
numpy==1.19.5
# opencv-python==4.5.1.48
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pyvista==0.29.1
pyzmq==22.0.3
scooby==0.5.7
six==1.15.0
scikit-build==0.11.1
torch==1.8.1+cu111
torchvision==0.9.1+cu111
--find-links https://download.pytorch.org/whl/torch_stable.html
tornado==6.1
tqdm==4.60.0
traitlets==4.3.3
transforms3d==0.3.1
typing-extensions==3.7.4.3
vtk==8.1.1
wcwidth==0.2.5
zipp==3.4.1
nilearn==0.7.1
scikit-image
scikit-learn