tqdm
scipy
numpy
GitPython
pybids
pytorch-ignite
nilearn
sklearn
torch
matplotlib
addict
nibabel
tabulate
comet-ml
pypmi
pyvista==0.30.1
itkwidgets
openpyxl
monai
pytorch-ignite==0.4.4
pytorch3dunet @ git+https://github.com/wolny/pytorch-3dunet.git
